

.h1r {
    background-color:#4aaaa5;
    color: white;
    width: 180px;
    margin-left:12.5%;
    margin-top:15px;
}

.container {
    height: 700px;
}

footer {
    border-top:5px solid #4aaaa5;
    background-color: #666666;
    height: 80px;
    width: 100%;
    bottom: 0;
}
